body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Philosopher', sans-serif;
}

.heading{
    padding-left: 80px;
    border: 2px;
}

.container img {
    width: 100%;
    height: 50%;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 100%;
    display: none;
}

.navbar {
    padding: 20px 0;
}

.carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-item {
    opacity: 0;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: slideIn 0.5s ease forwards;
    background-color: #333;
    color: white;
    
    margin: 10px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}

